@import "../../extensions/styles/variables";
@import "../../extensions/styles/fonts";

.StandingMenu {
    display: flex;
    flex-direction: column;
    width: 261px;
    ul {
        margin-top: 22px;
        li {
            @extend %primaryFontRegular;
            color: $textColor;
            font-size: 18px;
            text-transform: capitalize;
            margin-right: 110px;
            line-height: 27px;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;

            &::marker {
                font-size: 12px;
            }
        }
    }
}
