@import "../../extensions/styles/variables";
@import "../../extensions/styles/fonts";

.Products {
    margin: 0 auto 0 33px;
    width: 100%;
    h1 {
        @extend %primaryFontRegular;
        position: relative;
        padding-bottom: 10px;
        font-size: 32px;
        line-height: 38px;
        color: $textColorAlt;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $borderColorLight;
            bottom: 0;
            left: 0;
        }
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        .item {
            width: 212px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 36px 20px 0;
            &:nth-child(4n) {
                margin-right: 0;
            }
            .img {
                border: 1px solid $borderColorLight;
                padding: 9px;
                img {
                    width: 197px;
                    object-fit: cover;
                }
            }
            .title {
                @extend %primaryFontRegular;
                text-transform: uppercase;
                font-size: 16px;
                margin: 8px 0 0;
                line-height: 18px;
                color: $textColorLight;
            }
            .price {
                @extend %primaryFontExtraBold;
                text-transform: uppercase;
                font-size: 21px;
                margin: 24px 0 9px;
                line-height: 25x;
                color: $themeTerciary;
            }
            button {
                @extend %primaryFontExtraBold;
                width: 210px;
                height: 40px;
                background-color: $themeSecondary;
                color: $white;
                border: none;
                font-size: 18px;
                border-radius: 5px;
                text-transform: uppercase;
                line-height: 21px;
            }
        }
    }
}
