@import "../../extensions/styles/variables";
@import "../../extensions/styles/fonts";

.Menu {
    background-color: $themePrimary;
    // display: flex;
    // padding: 0 100px;
    // height: 54px;
    // align-items: center;
    // @media only screen and (max-width: 1024px) {
    //     padding: 0 20px;
    // }
    .container {
        .navbar-collapse {
            .navbar-nav {
                .nav-link {
                    @extend %primaryFontExtraBold;
                    color: $white;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-right: 110px;
                    line-height: 19px;
                    cursor: pointer;
                    color: $white;
                    @media only screen and (max-width: 1024px) {
                        margin-right: 75px;
                    }
                    @media only screen and (max-width: 866px) {
                        margin-right: 46px;
                    }
                }
            }
        }
    }
}
