@import "../../extensions/styles/variables";

.Home {
    .container {
        display: flex;
        .item1 {
            width: 261px;
            background-color: $borderColorLight;
            margin-right: 25px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .item2 {
            max-width: 954px;
        }
    }
}
