@import "../../extensions/styles/variables";

.Home {
    .container {
        display: flex;
        .item1 {
            width: 261px;
            background-color: $borderColorLight;
            margin-right: 25px;
        }
        .item2 {
            width: 954px;
        }
    }
}
