$themePrimary: #cb0d1f;
$themeSecondary: #00a8a9;
$themeTerciary: #1e2b50;
$borderColor: #959595;
$borderColorLight: #e2dedc;
$textColor: #000000;
$textColorAlt: #ed1a39;
$textColorLight: #626262;
$black: #231f20;
$white: #ffffff;
